DEBUG=true

### FastAPI app
APP_TITLE=DDash
APP_DESCRIPTION=API for DDash
APP_VERSION=0.1.0

### Database
DATABASE_ECHO=False
DATABASE_MAX_OVERFLOW=1
DATABASE_POOL_PRE_PING=True
DATABASE_POOL_SIZE=5
DATABASE_USERNAME=ddash
DATABASE_PASSWORD=ddash
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=ddash
DATABASE_SCHEMA=ddash

### Logging
LOGGING_CORRELATION_ID_LENGTH=8
LOGGING_FILE_BACKUP_COUNT=5
LOGGING_FILE_DIR=logs/api/
LOGGING_FILE_LOG_LEVEL=INFO
LOGGING_FILE_MAX_BYTES=1048576
LOGGING_FILE_NAME=1048576
LOGGING_LEVEL=INFO
LOGGING_USE_DEFAULT_HANDLERS=true

### Authentication
ACCESS_TOKEN_EXPIRY_SECONDS=3600
ACCESS_TOKEN_SECRET_KEY=change_me
